/* WEB FONT */
@import url(http://fonts.googleapis.com/css?family=Signika:600|Varela+Round);

/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: rgb(190,190,250);
}

span{
  font-size: 40px;
}

div{
  font-size: 40px;
}

h1 {
  color: rgba(0,0,0,0.3);
  font-family: arial, sans-serif;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10pt;
  word-spacing: 0.5pt;
  text-shadow: 5px 5px 5px rgba(35,255,255,0.5);
}

h2 {
  color: rgba(20,40,30,0.2);
  font-family: arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10pt;
  word-spacing: 0.5pt;
  text-shadow: 3px 4px 5px rgba(190,255,205,0.2);
}

p {
  color: rgba(150,150,200,0.5);
  font-family: arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.5pt;
  word-spacing: 0.5pt;
  text-shadow: 2px 2px 2px rgba(35,255,255,0.4);
}

a {
/* color: rgba(0,0,50,0.5); */
  font-family: arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
/*   text-align: center; */
  letter-spacing: 5pt;
  word-spacing: 0.5pt;
  text-decoration: false;
}

a:link {
  color: rgba(50,50,150,0.9);
  text-shadow: 3px 3px 3px rgba(35,255,255,0.2);
}

a:visited {
  color: rgba(50,50,100,0.5);
  text-shadow: 3px 3px 3px rgba(35,255,255,0.2);
}

a:hover {
  color: rgba(0,150,255,0.9);
  text-shadow: 5px 5px 5px rgba(105,255,255,0.5);
}

a:active {
  color: rgba(70,50,150,0.5);
  text-shadow: 3px 3px 3px rgba(35,255,255,0.2);
}

.center_area {
  margin: 20px auto;  /*Выравнивание по центру */
  margin-top: 40px;
  width: 80%;
  height: 500px;
  text-align: left 50px;
  background: rgba(50,160,63,0.5);
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
/*  margin-top: 80px; */
  margin: 20px; /* Выравнивание по центру */
  width: 97%;
  height: 500px;
  text-align: left 100px;
  background: rgba(60,70,63,0.9);
}

.column1 {
  float: left;
  width: 60%;
}

.column2 {
  float: right;
  width: 30%;
}
